<th:block th:fragment="footer">

    <div class="_footer-margin-top">

    </div>

    <footer id="footer" class="_items-align-row-center _footer">

        <div class="_items-align-row-center _footer-rules">
            <a href="/termsAndConditions#disclaimer" class="_lang-footer-disclaimer  _footer-rules-link">disclaimer</a>
            <samp class="_footer-rules-link">|</samp>
            <a href="#" class="_lang-footer-privacy  _footer-rules-link">privacy policy</a>
            <samp class="_footer-rules-link">|</samp>
            <a href="/termsAndConditions#termsAndConditions" class="_lang-footer-terms  _footer-rules-link">terms & conditions</a>
        </div>
        <div>
            <samp class="_footer-copyright">©2023 Calc-Converter. All rights reserved</samp>
        </div>
    </footer>

</th:block>